.red-block {
  background-color: #E0473F;

  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .up {
    transform: rotate(180deg);
  }


  .score {
    font-size: 96px;
    text-align: center;
    transition: all 0.15s ease-in-out;
  }




  .up,
  .down {
    width: 100%;
    padding: 30px 0;

    & img {
      width: 50px;
    }
  }

  .up {
    margin-bottom: 50px;
  }

  .down {
    margin-top: 50px;
  }

  .down-move,
  .up-move {
    transition: all 0.2s ease-in-out;
  }


  .up-move {
    opacity: 0;
    transform: translateY(50px);
  }

  .go-up {
    transform: translateY(-50px);
    opacity: 0;
  }


  .down-move {
    opacity: 0;
    transform: translateY(-50px);
  }

  .go-down {
    transform: translateY(50px);
    opacity: 0;
  }
}